In Table 3-1, we downloaded AAPL stock prices, and we mention that the `Adj Close` column adjusts past prices for dividends and corporate actions like stock splits. This is a nice feature of Yahoo! data. Most other data sources, like Bloomberg and WRDS, require the user to do the adjustments themselves. But how does Yahoo! do those adjustments? Let's download the data and look at it more carefully. We will use the `history()` method to get the dividends.

In [9]:
df = yf.Ticker('AAPL').history(start='2022-05-03', end='2022-05-10', auto_adjust=False)
df

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2022-05-03,158.149994,160.710007,156.320007,159.479996,159.025131,88966500,0.00,0
2022-05-04,159.669998,166.479996,159.259995,166.020004,165.546478,108256500,0.00,0
2022-05-05,163.850006,164.080002,154.949997,156.770004,156.322876,130525300,0.00,0
2022-05-06,156.009995,159.440002,154.179993,157.279999,157.061829,116124600,0.23,0
2022-05-09,154.929993,155.830002,151.490005,152.059998,151.849075,131577900,0.00,0

In [ ]:
history(period='1mo', interval='1d', start=None, end=None, 
        prepost=False, actions=True, auto_adjust=True, back_adjust=False, proxy=None, rounding=False, tz=None, **kwargs)